* {
  box-sizing: border-box;
}

body {
  margin: 1rem 1rem 0 1rem;
  padding: 0;
  background: #e8d2ec;
  font-family: Futara, Serif;
}
.menu {
  margin: 0;
}

h2 {
  font-family: "Great Vibes", cursive;
  text-align: center;
  font-size: 5rem;
  color: #269b0f;
}
.button {
  font-size: 1.5rem;
}
.photo {
  width: 9.5em;
  height: 9.5em;
  margin: 0.2em 0;
}
@media all and (max-width: 1200px) {
  h2 {
    font-size: 4.5rem;
  }
}
@media all and (max-width: 992px) {
  h2 {
    font-size: 4rem;
  }
  .photo {
    width: 10.5em;
    height: 10.5em;
  }
}

@media all and (max-width: 768px) {
  h2 {
    font-size: 3.5rem;
  }
  .button {
    font-size: 1.3rem;
  }
  .photo {
    width: 12em;
    height: 12em;
  }
}

@media all and (max-width: 576px) {
  h2 {
    font-size: 3rem;
  }
  .button {
    font-size: 1rem;
  }
  .photo {
    width: 10.5em;
    height: 10.5em;
  }
}
@media all and (max-width: 450px) {
  .photo {
    width: 9em;
    height: 9em;
  }
}

.btn-container {
  /* position: fixed; */
  overflow: hidden;
}

h4 {
  color: #e00a00;
}

.btn-text {
  color: #2406cf;
}
